*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
  --fundo-principal: #f5f5f5 ;
  --texto: #222222 ;
  --texto-inverso: #ffffff ;
  --destaque: #0077ff ;
  --destaque-inverso: #66bbff ;
  --fundo-card: #ffffff;
}

header{
    background-color: var(--destaque);
    padding: 10px;
}

header ul{
    list-style-type: none;
    display: flex;
    flex-flow: row;
    flex-direction: row-reverse;
    gap: 20px;
}

header a{
    color: var(--texto);
    border-radius: 8px;
    padding: 10px;
    transition: background-color 0.5s, color 0.5s;
}

header a:hover{
    
    color: var(--fundo-card);
    background-color: var(--destaque-inverso);
}

p{
    color: var(--texto);
}

section#ficha{
    background-color: var(--fundo-card);
    padding: 20px;
    border-radius: 8px;
}

#ficha img{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: 5px solid var(--fundo-principal);
    outline: 5px solid var(--destaque);
    display: block;
    margin: auto;
    margin-top:10px ;
    text-align: center;
}

.foto  h2{
    text-align: center;
    color: var(--destaque);
    font-size: 1.7em;
    margin-top: 15px;
    margin-bottom: 10px;
}

.redes{
    color: var(--destaque);
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    gap: 10px;
    margin-top: 10px;
    transition: color 0.5s;
}

.redes a:hover{
    color: var(--destaque-inverso);
    transition: color 0.5s;
}

#home{
    background-color: var(--fundo-card);
    color: var(--destaque);
    border-radius: 8px;
    padding: 10px;
}

iframe{
    display: block;
    margin: auto;
    border-radius: 8px;
    margin-top: 10px;
}

#skills{
    background-color: var(--fundo-card);
    border-radius: 8px;
    padding: 10px;
    color: var(--destaque);
}

.barra-detalhe{
    display: flex;
    justify-content: space-between;
}

.borda{
    padding: 10px;
    color: var(--destaque);
}